.shadowBox {
  box-shadow: 0px 150px 280px #000;
  width: 100vw;
  height: 100px;
  background-color: #FAFAFA;
}

.shadowBox2 {
  box-shadow: 0px 150px 280px #000;
  width: 100vw;
  height: 100px;
  background-color: #FFF;
}
