body {
	font-family: 'Raleway', sans-serif;
}

.sponsors {
	text-align: center; 
	width: 85%;
	margin: auto; 
	padding-bottom: 50px; 
}

.sponsors img {
	width: 150px;
	height: 150px;
	margin: 20px; 
}

#UWEng {
	width: 420px;
	height: 110px; 
}

#Math {
	width: 320px;
	height: 70px; 
}

#tass {
	width: 300px;
	height: 65px; 
}

#con {
	width: 320px;
	height: 80px; 
}

#intel {
	width: 150px;
	height: 120px; 
}

#velo {
	width: 360px;
	height: 100px; 
}

.title {
	text-align: center;
	font-size: 40px;
	margin-bottom: 40px;
	margin-top: 55px; 
}

.spacer {
	height: 75px;
	width: 100%;
	background-color: #222; 
}

.spacer2 {
	height: 75px;
	width: 100%;
	background-color: #222;
	margin-top: 35px; 
}

.parallax {
    /* The image used */
    background-image: url("../Images/BoltChasis.jpeg");

    /* Set a specific height */
    min-height: 640px; 
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.tablecity {
	color: #f2f2f2;
	background-color: #222; 
	margin: auto; 
	font-size: 20px;

	position: relative;
	top: 0;
	transform: translateY(+5%);

	text-align: center; 
	opacity: 0.97; 
}

.tablecity .benefits {
	text-align: left;
}

.tablecity td {
	border: 1px black solid; 
	height: 62px;
	width: 170px;
}

.tablecity th {
	border: 1px black solid; 
	text-align: center;
	padding: 10px; 
} 

.tablecity img {
	width: 65px;
	height: 48px;
}

#blurb {
	text-align: center;
	font-size: 20px; 
	width: 60%;
	margin: auto;
}

.separation {
	height: 35px;
	width: 100%; 
	/*background-color: #ABC333; */
}

.benefits {
	width: 400px;
	padding: 0px 10px 0px 10px; 
}